@import "tailwindcss";

:root {
  --Green-200: hsl(148, 38%, 91%);
  --Green-600: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  --White: hsl(0, 0%, 100%);
  --Grey-500: hsl(186, 15%, 59%);
  --Grey-900: hsl(187, 24%, 22%);
}

@theme inline {

  --color-Green-200: hsl(148, 38%, 91%);
  --color-Green-600: hsl(169, 82%, 27%);
  --color-Red: hsl(0, 66%, 54%);
  --color-White: hsl(0, 0%, 100%);
  --color-Grey-500: hsl(186, 15%, 59%);
  --color-Grey-900: hsl(187, 24%, 22%);
  
  --color-background: var(--Green-200);

  --color-focus-background: var(--Green-200);

  --color-surface: var(--White);
  --color-surface-text: var(--Gray-900);

  --color-primary: var(--Green-600);
  --color-primary-text: var(--White);

  --color-error: var(--Red);
}